$color-white: #fefefe;
$color-green: #6B8D1F;

@mixin text-multi-ellipsis($line, $line-height: 1.5, $font-size: 16px){
  overflow: hidden;
  max-height: $line * $line-height * $font-size;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button{
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.user-none-select{
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
}

@font-face{
  font-family: text_light;
  src: url(assets/fonts/SFArborcrestLight.ttf);
}
@font-face{
  font-family: text_bold;
  src: url(assets/fonts/SFArborcrestMedium.ttf);
}

:root {
  --box-shadow-24: -4px 8px 24px rgba(0, 0, 0, 0.25);
  --box-shadow-30: 0px 16px 30px rgba(0, 0, 0, 0.25);
  --color-gradient-border-gray: linear-gradient(135deg, #404040 0%, rgba(64, 64, 64, 0) 48.44%);
  --color-gradient: linear-gradient(137.84deg, #FFDB6E 26.31%, #FFBC5E 93.75%);
  --color-primary: #FFDB6E;
  --color-border: #383838;
}
body, html{
  font-size: 16px;
  font-family: text_light;
  letter-spacing: 1.5px;
  line-height: 1.35;
}

.bold{
  font-family: text_bold;
}

.section{
  &_content{
    width: 100%;
    max-width: 750px;
    color: $color-white;
    &_title{
      font-size: 24px;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 15px;
    }
    &_child{
      padding: 0 0 24px 30px;
      position: relative;
      opacity: 0;
      animation: fadeIn 1050ms ease-in forwards;
      &:last-child {
        padding-bottom: 0;
      }
      &:before{
        content: '';
        position: absolute;
        top: 16px;
        left: 0;
        width: 2px;
        height: 0;
        background-image: linear-gradient(to bottom, #FFDB6E, #FFBC5E);
        animation: dropdown 1050ms ease-in forwards;
      }
      &:after{
        content: '';
        position: absolute;
        top: 6px;
        left: -4px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #fff;
      }
      @for $i from 1 through 5{
        &:nth-of-type(#{$i}){
          animation-delay: (1050ms * ($i - 1));
          &:before{
            animation-delay: 1050ms * ($i - 1);
          }
        }
      }
      p{
        margin-top: 8px;
      }
    }
    @keyframes dropdown{
      from{
        height: 0;
      }
      to{
        height: calc(100% - 10px);
      }
    }
  }
  @keyframes fadeIn{
    from{
      opacity: 0.4;
      // transform: translateY(10px);
    }
    to{
      opacity: 1;
      // transform: translateY(0);
    }
  }
  &.active ~ #btn-close-section{
    display: block;
  }
  &.fade-out{
    animation: fade-out 550ms ease-out forwards;
  }
}

@keyframes fade-out{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

.box {
  font-size: 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 12px;
  -webkit-box-shadow: var(--box-shadow-30);
  box-shadow: var(--box-shadow-30);
  line-height: 1;
  margin-right: 16px;
  background: var(--color-gradient-border-gray);
  &::before {
    content: '';
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background: var(--color-gradient-soft);
    border-radius: inherit;
    z-index: -1;
  }
}
.box-icon {
  height: 48px !important;
  width: 48px !important;
  min-width: 48px;
}
.bg-gradient-primary {
  background: var(--color-gradient);
  transition: 0.5s linear;
  color: #121212;
  &:hover {
    background: var(--color-gradient-border-gray);
  }
}
.title {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 50px;
    height: 4px;
    border-radius: 2px;
    background: var(--color-gradient);
  }
}
.box-outer {
  box-shadow: var(--box-shadow-24);
  border: 1px solid var(--color-border);
}
.img-list {
  margin-left: -8px;
  img {
    width: 40px;
    margin-left: 8px;
  }
  @media screen and (min-width: 640px) {
    margin-left: -16px;
    width: 100px;
    margin-left: 16px;
  }
}
.container {
  max-width: 1200px !important;
  padding: 0 8px;
  @media screen and (min-widtd: 640px) {
    padding: 0 16px;
  }
  &::before,
  &::after {
    content: '';
    width: 100%;
    display: table;
  }
}

.sidebar {
  width: 100%;
}
.main {
  width: 100%;
}
@media screen and (min-width: 640px) {
  .sidebar {
    float: left;
  }
  .main {
    float: right;
    width: calc(75% - 24px);
  }
}

.menu {
  border-radius: 2px 16px 2px 16px;
  padding: 8px 16px;
  li {
    + li {
      margin-left: 24px;
    }
  }
  &__btn {
    &.active {
      color: var(--color-primary);
    }
  }
}

.collection {
  &__item {
    &:hover {
      .collection__description {
        display: flex;
      }
    }
  }
  &__description {
    animation: fadeIn 350ms linear;
    background-color: rgba(#fff, .9);
    p {
      animation: fadeIn 350ms linear;
    }
  }
}
.text-ellipsis-mutliple {
  @include text-multi-ellipsis(3);
}