/**
* @File grid scss
**/
.container {
  max-width: 1200px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid {
  width: 100%; }

.container,
.container-fluid {
  padding-left: 8px;
  padding-right: 8px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 16px;
      padding-right: 16px; } }

.row {
  min-height: 1px;
  margin-left: -8px;
  margin-right: -8px; }
  @media (min-width: 768px) {
    .row {
      margin-left: -16px;
      margin-right: -16px; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }

[class*="col-"] {
  float: none;
  padding-left: 8px;
  padding-right: 8px; }
  @media (min-width: 768px) {
    [class*="col-"] {
      padding-left: 16px;
      padding-right: 16px; } }

.col-xs-1 {
  float: left;
  width: 8.33333%; }

.col-xs-2 {
  float: left;
  width: 16.66667%; }

.col-xs-3 {
  float: left;
  width: 25%; }

.col-xs-4 {
  float: left;
  width: 33.33333%; }

.col-xs-5 {
  float: left;
  width: 41.66667%; }

.col-xs-6 {
  float: left;
  width: 50%; }

.col-xs-7 {
  float: left;
  width: 58.33333%; }

.col-xs-8 {
  float: left;
  width: 66.66667%; }

.col-xs-9 {
  float: left;
  width: 75%; }

.col-xs-10 {
  float: left;
  width: 83.33333%; }

.col-xs-11 {
  float: left;
  width: 91.66667%; }

.col-xs-12 {
  float: left;
  width: 100%; }

@media (min-width: 768px) {
  .col-sm-1 {
    float: left;
    width: 8.33333%; }

  .col-sm-2 {
    float: left;
    width: 16.66667%; }

  .col-sm-3 {
    float: left;
    width: 25%; }

  .col-sm-4 {
    float: left;
    width: 33.33333%; }

  .col-sm-5 {
    float: left;
    width: 41.66667%; }

  .col-sm-6 {
    float: left;
    width: 50%; }

  .col-sm-7 {
    float: left;
    width: 58.33333%; }

  .col-sm-8 {
    float: left;
    width: 66.66667%; }

  .col-sm-9 {
    float: left;
    width: 75%; }

  .col-sm-10 {
    float: left;
    width: 83.33333%; }

  .col-sm-11 {
    float: left;
    width: 91.66667%; }

  .col-sm-12 {
    float: left;
    width: 100%; } }
@media (min-width: 992px) {
  .col-md-1 {
    float: left;
    width: 8.33333%; }

  .col-md-2 {
    float: left;
    width: 16.66667%; }

  .col-md-3 {
    float: left;
    width: 25%; }

  .col-md-4 {
    float: left;
    width: 33.33333%; }

  .col-md-5 {
    float: left;
    width: 41.66667%; }

  .col-md-6 {
    float: left;
    width: 50%; }

  .col-md-7 {
    float: left;
    width: 58.33333%; }

  .col-md-8 {
    float: left;
    width: 66.66667%; }

  .col-md-9 {
    float: left;
    width: 75%; }

  .col-md-10 {
    float: left;
    width: 83.33333%; }

  .col-md-11 {
    float: left;
    width: 91.66667%; }

  .col-md-12 {
    float: left;
    width: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1 {
    float: left;
    width: 8.33333%; }

  .col-lg-2 {
    float: left;
    width: 16.66667%; }

  .col-lg-3 {
    float: left;
    width: 25%; }

  .col-lg-4 {
    float: left;
    width: 33.33333%; }

  .col-lg-5 {
    float: left;
    width: 41.66667%; }

  .col-lg-6 {
    float: left;
    width: 50%; }

  .col-lg-7 {
    float: left;
    width: 58.33333%; }

  .col-lg-8 {
    float: left;
    width: 66.66667%; }

  .col-lg-9 {
    float: left;
    width: 75%; }

  .col-lg-10 {
    float: left;
    width: 83.33333%; }

  .col-lg-11 {
    float: left;
    width: 91.66667%; }

  .col-lg-12 {
    float: left;
    width: 100%; } }
.pull-left {
  float: left; }

.pull-right {
  float: right; }

@font-face {
  font-family: text;
  src: url("../fonts/Mark-Simonson-Proxima-Nova-Thin_0.otf"); }
@font-face {
  font-family: textItalic;
  src: url("../fonts/Mark-Simonson-Proxima-Nova-ScOsf-Thin-Italic_0.otf"); }
@font-face {
  font-family: textBold;
  src: url("../fonts/Mark-Simonson-Proxima-Nova-Bold_0.otf"); }
@font-face {
  font-family: textBoldItalic;
  src: url("../fonts/Mark-Simonson-Proxima-Nova-Alt-Bold-Italic_0.otf"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: text; }

.relative {
  position: relative; }

.img-responsive {
  max-width: 100%; }

.home_intro {
  position: relative;
  height: 100vh;
  min-height: 567px;
  perspective: 1000px; }

.home_intro_background {
  background-size: 100%;
  background-image: url("../images/background.jpg");
  background-size: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .home_intro_background::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(69, 72, 77, 0.77);
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(69, 72, 77, 0.89) 0%, rgba(2, 2, 2, 0.89) 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(69, 72, 77, 0.89) 0%, rgba(2, 2, 2, 0.89) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(69, 72, 77, 0.89) 0%, rgba(2, 2, 2, 0.89) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }

.slider_background {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/iphone_6.png); }

.intro_slider {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 375px;
  height: 667px;
  transform: rotateX(19deg) rotateY(-21deg) rotateZ(-22deg);
  transform-origin: bottom;
  transform-style: preserve-3d; }

.slider {
  position: absolute;
  top: 81px;
  left: 46px;
  width: 284px;
  height: 505px;
  overflow: hidden;
  perspective: 1000px; }

.slider_item {
  overflow: hidden;
  transform-style: preserve-3d;
  position: absolute; }
  .slider_item.prev {
    animation: toPrev 750ms ease forwards;
    transform-origin: left; }
  .slider_item.active {
    animation: toLeft 750ms ease-in-out; }

@keyframes toPrev {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(10deg); } }
@keyframes toLeft {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }
.home_intro_description {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.btn {
  outline: none;
  border: none;
  background: none;
  cursor: pointer; }

.home_intro_btn {
  width: 198px;
  height: 48px;
  background: transparent;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #4FD769;
  color: #4FD769;
  font-weight: bold;
  position: relative;
  margin-top: 16px;
  text-align: left;
  padding-left: 48px;
  line-height: 1;
  -webkit-tap-highlight-color: rgba(24, 24, 24, 0.2); }
  .home_intro_btn:hover {
    border-color: transparent;
    background: #4FD769;
    color: #fff;
    box-shadow: 0 0 4px rgba(79, 215, 105, 0.5); }
    .home_intro_btn:hover::before {
      display: block; }
  .home_intro_btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(34, 34, 34, 0.1);
    display: none; }
  .home_intro_btn.active .roam {
    animation: roaming 650ms ease; }
  .home_intro_btn .roam {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background-color: rgba(24, 24, 24, 0.1); }
  .home_intro_btn .icon {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 30px;
    height: 30px; }
    .home_intro_btn .icon svg {
      width: 100%;
      height: 100%; }
  .home_intro_btn .label-secondary {
    display: block; }
  .home_intro_btn .label-primary {
    font-size: 1.56em;
    display: block; }

@keyframes roaming {
  from {
    width: 0; }
  to {
    width: 100%; } }
.home_title {
  color: #fff;
  width: 50%;
  min-width: 300px;
  letter-spacing: 0.01em;
  line-height: 1.4em; }
  .home_title.center {
    text-align: center; }
  .home_title.fluid {
    width: 100%;
    max-width: 100%; }

.section-mini {
  background-color: #222222;
  padding-top: 60px;
  padding-bottom: 60px; }

.section_secondary_text {
  font-size: 1.05em;
  color: #fdfdfd;
  text-align: center;
  width: 50%;
  max-width: 768px;
  min-width: 300px;
  display: block;
  margin: 15px auto 0; }

.section {
  height: 100vh;
  min-height: 568px;
  position: relative; }

.section-feature, .section-feature-secondary {
  background-color: #181818; }

.smart-phone {
  position: absolute;
  width: 375px;
  height: 667px;
  bottom: -200px;
  left: 0; }

.smart-phone-white {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../images/iphone-industries.png"); }
  .smart-phone-white:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(24, 24, 24, 0.2); }

.smart-phone.right {
  position: absolute;
  width: 264px;
  height: 579px;
  bottom: 0;
  right: 0;
  left: auto; }
  .smart-phone.right .smart-phone_content {
    top: 86px;
    left: 18px;
    width: 230px;
    height: 409px; }

.smart-phone-black {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../images/iphone_6.png");
  position: absolute;
  width: 375px;
  height: 667px;
  bottom: 0;
  left: 0; }

.smart-phone_content {
  width: 271px;
  height: 477px;
  background: #999;
  top: 98px;
  position: absolute;
  left: 46px;
  border-radius: 2px;
  background: #f0f0f0;
  overflow: hidden; }

.smart-phone_img {
  width: 100%; }

.section-feature_content {
  display: table;
  height: 100%; }
  .section-feature_content .text {
    text-align: center;
    color: #fefefe;
    display: block;
    margin: 15px auto;
    width: 75%;
    max-width: 500px;
    min-width: 300px; }

.table-cell {
  display: table-cell;
  vertical-align: middle; }

.section-clear-fix_background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  background-position: center;
  background-size: 100%;
  background-image: url("../images/background-2.jpg");
  background-attachment: fixed; }
  .section-clear-fix_background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(69, 72, 77, 0.77);
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(69, 72, 77, 0.9) 0%, rgba(2, 2, 2, 0.9) 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(69, 72, 77, 0.9) 0%, rgba(2, 2, 2, 0.9) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(69, 72, 77, 0.9) 0%, rgba(2, 2, 2, 0.9) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }

.section-clear-fix_content {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: rgba(34, 34, 34, 0.2); }

.section-feature-secondary {
  background-color: #181818; }

.section-subcribe {
  background-color: #222222; }

.section-subcribe_content {
  margin-left: 12.5%;
  padding-top: 60px;
  padding-bottom: 60px; }
  .section-subcribe_content hr {
    border-color: rgba(254, 254, 254, 0.1);
    margin-top: 15px;
    margin-bottom: 15px; }
  .section-subcribe_content p {
    width: 75%;
    display: block;
    margin: auto;
    max-width: 750px;
    min-width: 280px;
    color: #fefefe;
    text-align: center; }

.subcribe_form {
  margin-top: 30px;
  text-align: center; }

.input-default {
  background: none;
  border: none;
  outline-color: transparent; }

.subcribe_form_input {
  width: 75%;
  max-width: 500px;
  min-width: 260px;
  height: 48px;
  border-radius: 2px;
  border: 1px solid rgba(240, 240, 240, 0.58);
  padding-left: 8px;
  padding-right: 8px;
  color: #fefefe;
  font-size: 1.05em;
  transform: translateY(3px); }
  .subcribe_form_input:focus {
    outline-color: #4FD769; }

.subcribe_form_btn {
  height: 48px;
  border: 1px solid #4FD769;
  color: #4FD769;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  text-align: center;
  width: auto; }

a {
  text-decoration: none; }

.header {
  z-index: 99; }

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.header_brand {
  padding-top: 24px;
  padding-bottom: 24px; }

.brand {
  font-family: textBold;
  font-size: 1.6em;
  color: #fff; }

.header_right {
  padding-top: 30px;
  padding-bottom: 30px; }

.header_right_item {
  display: inline-block; }
  .header_right_item:not(:last-child) {
    margin-right: 16px; }
  .header_right_item a {
    color: rgba(255, 255, 255, 0.89);
    font-family: textBold; }
    .header_right_item a:hover {
      color: #fff; }

/*# sourceMappingURL=main.css.map */
