/**
* @File grid scss
**/
.container {
  max-width: 1200px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid {
  width: 100%; }

.container,
.container-fluid {
  padding-left: 8px;
  padding-right: 8px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 16px;
      padding-right: 16px; } }

.row {
  min-height: 1px;
  margin-left: -8px;
  margin-right: -8px; }
  @media (min-width: 768px) {
    .row {
      margin-left: -16px;
      margin-right: -16px; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }

[class*="col-"] {
  float: none;
  padding-left: 8px;
  padding-right: 8px; }
  @media (min-width: 768px) {
    [class*="col-"] {
      padding-left: 16px;
      padding-right: 16px; } }

.col-xs-1 {
  float: left;
  width: 8.33333%; }

.col-xs-2 {
  float: left;
  width: 16.66667%; }

.col-xs-3 {
  float: left;
  width: 25%; }

.col-xs-4 {
  float: left;
  width: 33.33333%; }

.col-xs-5 {
  float: left;
  width: 41.66667%; }

.col-xs-6 {
  float: left;
  width: 50%; }

.col-xs-7 {
  float: left;
  width: 58.33333%; }

.col-xs-8 {
  float: left;
  width: 66.66667%; }

.col-xs-9 {
  float: left;
  width: 75%; }

.col-xs-10 {
  float: left;
  width: 83.33333%; }

.col-xs-11 {
  float: left;
  width: 91.66667%; }

.col-xs-12 {
  float: left;
  width: 100%; }

@media (min-width: 768px) {
  .col-sm-1 {
    float: left;
    width: 8.33333%; }

  .col-sm-2 {
    float: left;
    width: 16.66667%; }

  .col-sm-3 {
    float: left;
    width: 25%; }

  .col-sm-4 {
    float: left;
    width: 33.33333%; }

  .col-sm-5 {
    float: left;
    width: 41.66667%; }

  .col-sm-6 {
    float: left;
    width: 50%; }

  .col-sm-7 {
    float: left;
    width: 58.33333%; }

  .col-sm-8 {
    float: left;
    width: 66.66667%; }

  .col-sm-9 {
    float: left;
    width: 75%; }

  .col-sm-10 {
    float: left;
    width: 83.33333%; }

  .col-sm-11 {
    float: left;
    width: 91.66667%; }

  .col-sm-12 {
    float: left;
    width: 100%; } }
@media (min-width: 992px) {
  .col-md-1 {
    float: left;
    width: 8.33333%; }

  .col-md-2 {
    float: left;
    width: 16.66667%; }

  .col-md-3 {
    float: left;
    width: 25%; }

  .col-md-4 {
    float: left;
    width: 33.33333%; }

  .col-md-5 {
    float: left;
    width: 41.66667%; }

  .col-md-6 {
    float: left;
    width: 50%; }

  .col-md-7 {
    float: left;
    width: 58.33333%; }

  .col-md-8 {
    float: left;
    width: 66.66667%; }

  .col-md-9 {
    float: left;
    width: 75%; }

  .col-md-10 {
    float: left;
    width: 83.33333%; }

  .col-md-11 {
    float: left;
    width: 91.66667%; }

  .col-md-12 {
    float: left;
    width: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1 {
    float: left;
    width: 8.33333%; }

  .col-lg-2 {
    float: left;
    width: 16.66667%; }

  .col-lg-3 {
    float: left;
    width: 25%; }

  .col-lg-4 {
    float: left;
    width: 33.33333%; }

  .col-lg-5 {
    float: left;
    width: 41.66667%; }

  .col-lg-6 {
    float: left;
    width: 50%; }

  .col-lg-7 {
    float: left;
    width: 58.33333%; }

  .col-lg-8 {
    float: left;
    width: 66.66667%; }

  .col-lg-9 {
    float: left;
    width: 75%; }

  .col-lg-10 {
    float: left;
    width: 83.33333%; }

  .col-lg-11 {
    float: left;
    width: 91.66667%; }

  .col-lg-12 {
    float: left;
    width: 100%; } }
.pull-left {
  float: left; }

.pull-right {
  float: right; }

@font-face {
  font-family: text;
  src: url("../fonts/Mark-Simonson-Proxima-Nova-Thin_0.otf"); }
@font-face {
  font-family: textItalic;
  src: url("../fonts/Mark-Simonson-Proxima-Nova Alt-Condensed-Light-Italic_0.otf"); }
@font-face {
  font-family: textBold;
  src: url("../fonts/Mark-Simonson-Proxima-Nova-Bold_0.otf"); }
@font-face {
  font-family: textBoldItalic;
  src: url("../fonts/Mark-Simonson-Proxima-Nova-Alt-Bold-Italic_0.otf"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: text; }

.relative {
  position: relative; }

.img-responsive {
  max-width: 100%; }

@media (max-width: 767px) {
  .hidden-xs {
    display: none; } }

.home_intro {
  position: relative;
  height: 100vh;
  min-height: 567px;
  max-height: 1200px;
  perspective: 1000px; }

.home_intro_background {
  background-size: 100%;
  background-image: url("../images/background.jpg");
  background-size: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .home_intro_background::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(69, 72, 77, 0.77);
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(69, 72, 77, 0.89) 0%, rgba(2, 2, 2, 0.89) 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(69, 72, 77, 0.89) 0%, rgba(2, 2, 2, 0.89) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(69, 72, 77, 0.89) 0%, rgba(2, 2, 2, 0.89) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }

.slider_background {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/iphone_6.png); }

.intro_slider {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 375px;
  height: 667px;
  transform-origin: bottom;
  transform-style: preserve-3d; }
  @media (max-width: 767px) and (orientation: portrait) {
    .intro_slider {
      transform: translateX(0) translateY(-25%) scale(1);
      left: 386px;
      right: auto; } }
  @media (max-width: 767px) and (orientation: landscape) {
    .intro_slider {
      transform: translateX(0) translateY(-15%) scale(0.51);
      left: 386px;
      right: auto; } }
  @media (max-width: 597px) {
    .intro_slider {
      transform: translateX(0) translateY(-5%) scale(0.51);
      left: 110px; } }
  @media (max-width: 597px) and (orientation: landscape) {
    .intro_slider {
      transform: translateX(0) translateY(-15%) scale(0.51);
      left: 210px; } }
  @media (min-width: 768px) {
    .intro_slider {
      transform: translateY(-25%); } }
  @media (min-width: 992px) {
    .intro_slider {
      transform: rotateX(19deg) rotateY(-21deg) rotateZ(-22deg); } }
  @media (min-width: 1921px) {
    .intro_slider {
      right: 25%;
      bottom: 25%; } }

.slider {
  position: absolute;
  top: 81px;
  left: 46px;
  width: 284px;
  height: 505px;
  overflow: hidden;
  perspective: 1000px; }

.slider_item {
  overflow: hidden;
  transform-style: preserve-3d;
  position: absolute; }
  .slider_item.prev {
    animation: toPrev 750ms ease forwards;
    transform-origin: left; }
  .slider_item.active {
    animation: toLeft 750ms ease-in-out; }

@keyframes toPrev {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(10deg); } }
@keyframes toLeft {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }
.home_intro_description {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.btn {
  outline: none;
  border: none;
  background: none;
  cursor: pointer; }

.home_intro_btn {
  width: 198px;
  height: 48px;
  background: transparent;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #4FD769;
  color: #4FD769;
  font-weight: bold;
  position: relative;
  margin-top: 16px;
  text-align: left;
  padding-left: 48px;
  line-height: 1;
  overflow: hidden; }
  @media (max-width: 597px) {
    .home_intro_btn {
      display: block; } }
  .home_intro_btn:hover {
    border-color: transparent;
    background: #4FD769;
    color: #fff;
    box-shadow: 0 0 4px rgba(79, 215, 105, 0.5); }
    .home_intro_btn:hover::before {
      display: block; }
  .home_intro_btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(34, 34, 34, 0.1);
    display: none; }
  .home_intro_btn.active .roam {
    animation: roaming 650ms ease; }
  .home_intro_btn .roam {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0;
    border-radius: 50%;
    transform: scale(0);
    pointer-events: none;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    background-color: rgba(24, 24, 24, 0.1); }
    .home_intro_btn .roam.not-transition {
      transition: none !important;
      -webkit-transition: none !important; }
  .home_intro_btn .icon {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 30px;
    height: 30px; }
    .home_intro_btn .icon svg {
      width: 100%;
      height: 100%; }
  .home_intro_btn .label-secondary {
    display: block; }
  .home_intro_btn .label-primary {
    font-size: 1.56em;
    display: block; }

@keyframes roaming {
  from {
    width: 0; }
  to {
    width: 100%; } }
.home_title {
  color: #fff;
  width: 50%;
  min-width: 300px;
  letter-spacing: 0.01em;
  line-height: 1.4em; }
  .home_title.center {
    text-align: center; }
  .home_title.fluid {
    width: 100%;
    max-width: 100%; }
  .home_title-secondary {
    color: rgba(255, 255, 255, 0.65);
    margin-bottom: 30px; }

.section-mini {
  background-color: #222222;
  padding-top: 60px;
  padding-bottom: 60px; }

.section_secondary_text {
  font-size: 1.05em;
  color: #fdfdfd;
  text-align: center;
  width: 50%;
  max-width: 768px;
  min-width: 300px;
  display: block;
  margin: 15px auto 0; }

.section-feature {
  background-color: #181818; }

.smart-phone {
  position: absolute;
  width: 375px;
  height: 667px;
  bottom: -200px;
  left: 0; }

.smart-phone-white {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../images/iphone-industries.png"); }
  .smart-phone-white:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(24, 24, 24, 0.2); }

.smart-phone.right {
  position: absolute;
  width: 264px;
  height: 579px;
  top: 30px;
  right: 50%;
  transform: translateX(50%);
  left: auto; }
  .smart-phone.right .smart-phone_content {
    top: 86px;
    left: 18px;
    width: 230px;
    height: 409px; }

.smart-phone-black {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../images/iphone_6.png");
  position: absolute;
  width: 375px;
  height: 667px;
  bottom: 0;
  left: 0; }

.smart-phone_content {
  width: 271px;
  height: 477px;
  background: #999;
  top: 98px;
  position: absolute;
  left: 46px;
  border-radius: 2px;
  background: #f0f0f0;
  overflow: hidden; }

.smart-phone_img {
  width: 100%; }

.section-feature {
  padding-top: 60px;
  padding-bottom: 60px; }
  .section-feature_content {
    height: 100%;
    text-align: center;
    max-width: 300px;
    margin: auto; }
    @media (min-width: 768px) {
      .section-feature_content {
        float: right;
        max-width: inherit; } }
  .section-feature .section {
    overflow: hidden;
    height: auto; }
  .section-feature .smart-phone {
    top: 50%;
    transform: translateY(-50%); }

.feature_item {
  padding: 30px;
  margin-bottom: 30px;
  background: #222222;
  transition: all 550ms ease-out;
  text-align: center;
  display: block;
  margin: 15px auto; }
  .feature_item:hover {
    background: rgba(79, 215, 105, 0.5); }
    .feature_item:hover .feature_item_icon {
      transform: scale(1.05); }
  @media (min-width: 768px) {
    .feature_item {
      float: right;
      clear: both;
      width: calc(50% - 30px); }
      .feature_item:nth-child(even) {
        margin-left: 30px; } }
  @media (min-width: 992px) {
    .feature_item {
      float: left;
      clear: inherit; } }
  .feature_item_title {
    margin-top: 15px;
    color: #fefefe; }
  .feature_item_icon {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 600ms ease-in-out; }
    .feature_item_icon-time {
      background-image: url("../images/time.svg"); }
    .feature_item_icon-presentation {
      background-image: url("../images/presentation.svg"); }
    .feature_item_icon-network {
      background-image: url("../images/network.svg"); }
    .feature_item_icon-warning {
      background-image: url("../images/siren.svg"); }
  .feature_item .text {
    color: #fcfcfc;
    display: block;
    margin: 15px 0;
    height: 4.05em;
    line-height: 1.35em;
    overflow: hidden;
    position: relative; }

.section-choose {
  background: #181818;
  padding-top: 60px;
  padding-bottom: 120px; }
  .section-choose .text {
    text-align: center;
    color: #fafafa; }
  .section-choose_content {
    margin-top: 30px; }

.section-choose_item {
  padding: 30px 0 30px 120px;
  text-align: left;
  width: 75%;
  margin: auto;
  position: relative; }
  .section-choose_item:last-child::before {
    display: none; }
  .section-choose_item::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 45px;
    border-left: 1px dashed rgba(79, 215, 105, 0.4);
    z-index: 1; }
  .section-choose_item_icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #020202;
    z-index: 2; }
    .section-choose_item_icon::before {
      content: '';
      position: absolute;
      top: 25px;
      left: 25px;
      width: 40px;
      height: 40px;
      background-image: url("../images/layers.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
  .section-choose_item_title {
    color: #fefefe; }
  .section-choose_item_text {
    margin-top: 30px;
    color: #fafafa; }

.section-clear-fix_background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  background-position: center;
  background-size: 100%;
  background-image: url("../images/background-2.jpg");
  background-attachment: fixed; }
  .section-clear-fix_background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(69, 72, 77, 0.77);
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(69, 72, 77, 0.9) 0%, rgba(2, 2, 2, 0.9) 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(69, 72, 77, 0.9) 0%, rgba(2, 2, 2, 0.9) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(69, 72, 77, 0.9) 0%, rgba(2, 2, 2, 0.9) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }

.section-clear-fix_content {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: rgba(34, 34, 34, 0.2); }

.section-subcribe {
  background-color: #181818; }

.section-subcribe_content {
  margin-left: calc(100% / 12 * 2);
  padding-top: 60px;
  padding-bottom: 60px; }
  .section-subcribe_content hr {
    border-color: rgba(254, 254, 254, 0.1);
    margin-top: 15px;
    margin-bottom: 15px; }
  .section-subcribe_content p {
    width: 75%;
    display: block;
    margin: auto;
    max-width: 750px;
    min-width: 280px;
    color: #fefefe;
    text-align: center; }

.subcribe_form {
  margin-top: 30px;
  text-align: center; }

.input-default {
  background: none;
  border: none;
  outline-color: transparent; }

.subcribe_form_input {
  width: 75%;
  max-width: 500px;
  min-width: 260px;
  height: 48px;
  border-radius: 2px;
  border: 1px solid rgba(240, 240, 240, 0.58);
  padding-left: 8px;
  padding-right: 8px;
  color: #fefefe;
  font-size: 1.05em;
  transform: translateY(3px); }
  .subcribe_form_input:focus {
    outline-color: #4FD769; }

.subcribe_form_btn {
  height: 48px;
  border: 1px solid #4FD769;
  color: #4FD769;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  text-align: center;
  width: auto; }

.lazy-effect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  position: relative;
  overflow: hidden; }
  .lazy-effect:focus {
    outline: none; }
  .lazy-effect .lazy-ripple {
    z-index: 2;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(254, 254, 254, 0.255); }

.screen_title {
  text-align: center;
  margin-bottom: 30px; }
  .screen_title .home_title {
    margin: 15px 0; }
  .screen_title .text {
    color: white;
    min-width: 280px;
    max-width: 568px;
    display: block;
    margin: auto; }

a {
  text-decoration: none; }

.btn-default {
  border: none;
  outline: none;
  background: none;
  cursor: pointer; }

.header {
  z-index: 99;
  transition: all 550ms ease-in-out; }
  .header.show-right-menu {
    transform: translateX(-56px); }
  .header.active {
    background: #020202; }
    .header.active .header_brand {
      padding-top: 12px;
      padding-bottom: 12px; }
    .header.active .header_right {
      padding-top: 18px;
      padding-bottom: 18px; }
  .header_toggle-menu {
    width: 36px;
    height: 36px;
    position: fixed;
    top: 22px;
    right: 8px;
    z-index: 100;
    transition: all 550ms ease-in-out; }
    .header.active .header_toggle-menu {
      top: 10px; }
    .header_toggle-menu.active {
      right: -48px;
      background-color: #222222; }
      .header_toggle-menu.active::before {
        width: 23.3px;
        transform: rotate(33.7deg); }
      .header_toggle-menu.active::after {
        width: 23.3px;
        transform: rotate(-33.7deg); }
      .header_toggle-menu.active .line {
        opacity: 0; }
    .header_toggle-menu::before {
      content: '';
      width: 20px;
      height: 1px;
      position: absolute;
      top: 12px;
      left: 8px;
      background: #fefefe;
      transform-origin: left;
      transition: transform 550ms ease-in; }
    .header_toggle-menu::after {
      content: '';
      width: 20px;
      height: 1px;
      position: absolute;
      top: 24px;
      left: 8px;
      background: #fefefe;
      transform-origin: left;
      transition: transform 550ms ease-in; }
    @media (min-width: 768px) {
      .header_toggle-menu {
        display: none; } }
    .header_toggle-menu .line {
      width: 30px;
      height: 1px;
      display: block;
      position: absolute;
      top: 18px;
      left: 8px;
      width: 20px;
      background: #fefefe;
      transition: opacity 550ms ease-in; }

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.header_brand {
  padding-top: 24px;
  padding-bottom: 24px;
  transition: all 550ms ease-in-out; }

.brand {
  font-family: textBold;
  font-size: 1.6em;
  color: #fff; }

body.show-right-menu {
  overflow: hidden; }

main {
  overflow: hidden;
  transition: transform 550ms ease-in-out; }

main.show-right-menu {
  transform: translateX(-56px); }

.header_right {
  transition: all 500ms ease-in-out;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .header_right.active {
    display: block;
    visibility: visible;
    transform: translateX(56px); }
  @media (max-width: 767px) {
    .header_right {
      width: 256px;
      min-height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      background: #222222;
      transform: translateX(100%); } }
  @media (min-width: 768px) {
    .header_right {
      display: block; } }
  .header_right_item {
    display: block; }
    .header_right_item a {
      padding: 8px 16px;
      display: block; }
    @media (min-width: 768px) {
      .header_right_item {
        display: inline-block; } }

.header_right_item a {
  color: rgba(255, 255, 255, 0.89);
  font-family: textBold; }
  .header_right_item a:hover {
    color: #fff; }

.section-sreenshoot {
  background-color: #222222;
  padding-top: 90px;
  padding-bottom: 90px; }

.slide-screen {
  text-align: center;
  perspective: 1000px;
  position: relative; }

.screen_body {
  background-image: url(../images/iphone-industries.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
  width: 300px;
  height: 540px;
  margin: auto;
  perspective: 1000px;
  transform: scale(0.6667); }
  @media (min-width: 768px) {
    .screen_body {
      transform: scale(0.8889); } }
  @media (min-width: 992px) {
    .screen_body {
      transform: scale(1); } }

.screen_item {
  position: absolute;
  top: 84px;
  left: 39px;
  width: 213px;
  height: 378px;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: all 1000ms ease;
  animation: fadeIn 500ms ease;
  opacity: 0;
  z-index: 1; }
  .screen_item-first {
    transform-origin: left;
    display: block;
    transform: rotateY(-49deg) translate3d(-426px, 0px, 90px);
    box-shadow: -7px 5px 8px rgba(0, 0, 0, 0.15);
    z-index: 2;
    opacity: 1; }
  .screen_item-second {
    transform-origin: left;
    display: block;
    transform: rotateY(-31deg) translate3d(-213px, 0, 30px);
    box-shadow: -7px 5px 8px rgba(0, 0, 0, 0.25);
    z-index: 3;
    opacity: 1; }
  .screen_item-third {
    display: block;
    z-index: 4;
    opacity: 1; }
  .screen_item-fourth {
    transform-origin: right;
    display: block;
    transform: rotateY(31deg) translate3d(213px, 0, 30px);
    box-shadow: -7px 5px 8px rgba(0, 0, 0, 0.25);
    z-index: 3;
    opacity: 1; }
  .screen_item-fifth {
    transform-origin: right;
    display: block;
    transform: rotateY(49deg) translate3d(426px, 0px, 90px);
    box-shadow: -7px 5px 8px rgba(0, 0, 0, 0.15);
    z-index: 2;
    opacity: 1; }
  .screen_item img {
    width: 100%;
    position: relative; }

@keyframes fadeIn {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
.screen_btn {
  background-image: url(../images/right-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  text-indent: -9999px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  overflow: hidden; }
  .screen_btn:hover {
    background-color: #181818; }
  .screen_btn-prev {
    transform: rotate(180deg); }

.screen_group-btn {
  text-align: center; }

/*# sourceMappingURL=main.css.map */
